@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&family=Nerko+One&family=Patrick+Hand&family=Poller+One&family=Shadows+Into+Light&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F6D36B;
  --font-mainHeading: "Jost","Josefin Sans","Poller One","Poller One",'Luckiest Guy','cursive';
  --font-subHeading :"Josefin Sans","Poller One","Poller One",'Luckiest Guy','cursive';
}
